{% extends "layout.html.twig" %}

{% block title %}
Connexion
{% endblock title %}




{% block main %}
    <main>
        <form>
            <input type="text" id="username" name="username">
            <input type="password" id="password" name="password">
            <button type="submit">Entrer</button>
        </form>
    </main>
{% endblock  %}