{% extends "layout.html.twig" %}

{% block title %}
Livres
{% endblock %}

{% block main %}
<main>
    <table class="table table-secondary table-striped">
        <tr>
            <th scope="col">
                <h2>
                    Livres
                </h2>
            </th>
        </tr>
        {% for livre in livres %}
        <tr>
            <td class="">{{ livre.titre }} de {{ livre.nom }} {{ livre.prenom }}
                <button class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                    </svg>
                    <div class="post" data-id="1">
                        <span class="like-count">0</span>
                    </div>
                </button>
                <a class="btn btn-outline-info" href="">Consulter</a>
                <a class="btn btn-outline-success" href="">Ajouter</a>
                <a class="btn btn-outline-secondary" href="">Modifier</a>
                <a class="btn btn-outline-danger" href="">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}


{% block footer %}
<nav aria-label="Page navigation example">
    <ul class="pagination text-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">8</a></li>
        <li class="page-item"><a class="page-link" href="#">9</a></li>
        <li class="page-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}